*{
    padding: 0;
    margin: 0;
}
.heading{
    padding-top: 5px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border-bottom: solid #ccc 1px;
}

.sub-heading{
    font-size: small;
    font-family: 'Poppins', sans-serif;
    color: #ccc;
}